<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminCommunityDetailFragment">
    <div class="admin_communityDetail">
        <div class="admin_communityDetail-con">
            <div class="left">
                    <div class="detail-image">
                        <th:block th:if="${community.attachFile == 1}">
                            <img th:src="@{|/backend/community/${community.newFileName}|}"
                                 alt="게시글 이미지">
                        </th:block>
                        <th:block th:unless="${community.attachFile == 1}">
                            <img src="https://placehold.co/400x450/cccccc/ffffff?text=COMMUNITY"
                                 alt="기본 이미지">
                        </th:block>
                    </div>
                </div>
                <div class="right">
                    <h1 th:text="${community.title}"></h1>
                    <form th:action="@{/admin/communityUpdate}" method="post">
                        <ul>
                            <li>
                                <label for="id">게시글 번호</label>
                                <input type="text"
                                       name="id"
                                       id="id"
                                       th:value="${community.id}"
                                       readonly>
                            </li>
                            <li>
                                <label for="nickName">작성자</label>
                                <input type="text"
                                       name="nickName"
                                       id="nickName"
                                       th:value="${community.nickName}"
                                       readonly>
                            </li>
                            <li>
                                <label for="memberId">회원번호</label>
                                <input type="text"
                                       name="memberId"
                                       id="memberId"
                                       th:value="${community.memberId}"
                                       readonly>
                            </li>
                            <li>
                                <label for="content">내용</label>
                                <textarea name="content"
                                          id="content"
                                          readonly
                                          th:text="${community.content}"></textarea>
                            </li>
                            <li class="date">
                                작성일 :
                                <span th:text="${#temporals.format(community.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                            </li>
                            <li class="date">
                                수정일 :
                                <span th:text="${#temporals.format(community.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                            </li>
                            <li>
                                <div class="button-group">
                                        <input type="submit" value="게시글 수정">
                                        <button type="button"
                                                th:onclick="|location.href='@{/admin/communityDelete/{id}(id=${community.id})}'|">
                                            삭제
                                        </button>
                                        <button type="button"
                                                onclick="location.href='/admin/community'">
                                            목록
                                        </button>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>