<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminItemInsertFragment">
    <div class="title">상품등록</div>
    <div class="itemInsert">
        <div class="itemInsert-con">
            <h1>상품등록</h1>
            <form th:action="@{/admin/itemInsert}" method="post" th:object="${itemDto}" enctype="multipart/form-data">
                <ul>
                    <li>
                        <input type="text" th:field="*{itemTitle}" id="itemTitle" placeholder="상품명">
                    </li>
                    <li th:if="${#fields.hasErrors('itemTitle')}" th:errors="*{itemTitle}" class="error"></li>
                    <li>
                        <input type="text" name="memberId" th:value="${#authentication !=null ? #authentication.principal.memberEntity.id : ''}" readonly>
                    </li>
                    <li>
                        <input type="text" th:field="*{itemDetail}" id="itemDetail" placeholder="상세내용">
                    </li>
                    <li th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="error"></li>
                    <li>
                        <input type="number" th:field="*{itemPrice}" id="itemPrice" placeholder="가격">
                    </li>
                    <li th:if="${#fields.hasErrors('itemPrice')}" th:errors="*{itemPrice}" class="error"></li>
                    <li class="s1"><span>파일</span><input type="file" name="itemFile"></li>
                    <li class="last-child">
                        <input type="submit" class="li-last" value="상품등록">
                        <input type="reset" name="value" id="li-last">
                    </li>
                </ul>
        </div>
    </div>
</th:block>
</html>