<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminSceneFragment">
    <script th:src="@{/js/admin/open/admin_scene.js}" defer></script>
    <div class="title">Scene API</div>
    <div class="scene">
        <div class="scene-con">
            <table>

                <thead>
                <tr>
                    <th colspan="8">
                        <div class="menu">
                            <div class="menu-left">
                                <ul>
                                    <li onclick="sceneListFn()" class="scene-list active">영화목록조회</li>
                                    <li class="boxOffice" onclick="boxOfficeFn()">박스오피스</li>
                                    <li>영화인 목록 조회</li>
                                    <li>추가내용</li>
                                </ul>
                            </div>
                            <form th:action="@{/open/scene/search}" method="get">
                            <select name="subject" id="subject">
                                <option value="movieNm">영화제목</option>
                                <option value="genreAlt">장르</option>
                                <option value="typeNm">타입</option>
                                <option value="repNationNm">국적</option>
                                <option value="prdtStatNm">상태</option>
                                <option value="openDt">개봉일</option>
                            </select>
                            <input type="text" name="search" id="sceneSearch">
                            <input type="button" onclick="searchFn(event)" id="searchBtn" value="검색">
                            </form>
                        </div>
                    </th>
                </tr>
                </thead>
                <thead class="scene-table-head">

                </thead>
                <tbody class="scene-content">

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="pagination"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="scene-detail-modal">
        <div class="scene-detail-modal-con">
            <span class="modal-close-btn" onclick="closeModal()">X</span>
            <h1>영화제목(1234)</h1>
            <ul>
                <li>개봉일: 2025-09-30</li>
                <li>상태: 개봉</li>
                <li>상영시간: 120분</li>
                <li>감독: 홍길동</li>
                <li>배우: 김철수,이영희</li>
                <li>출처: 영화진흥위원회</li>
            </ul>
        </div>
    </div>
</th:block>
</html>