<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminItemListFragment">
    <div class="title">ItemList</div>
    <div class="itemList">
        <div class="itemList-con">
            <div class="search">
                <h3>상품목록</h3>
                <form th:action="@{/admin/itemList}" method="get">
                    <select name="subject" id="subject">
                        <option value="" th:selected="${#strings.isEmpty(param.subject)}">::선택::</option>
                        <option value="itemTitle" th:selected="${#strings.equals( param.subject, 'itemTitle' )}">상품이름</option>
                        <option value="itemDetail" th:selected="${#strings.equals( param.subject, 'itemDetail' )}">상품설명</option>
                        <option value="itemPrice" th:selected="${#strings.equals( param.subject, 'itemPrice' )}">상품가격</option>
                    </select>
                    <input type="text" name="search" id="search" th:value="${param.search}"/>
                    <input type="submit" value="검색" class="btn"/>
                </form>
            </div>
            <table width="100%" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th style="width: 6%;">ID</th>
                    <th style="width: 18%;">상품명</th>
                    <th style="width: 20%;">상세내용</th>
                    <th style="width: 10%;">가격</th>
                    <th style="width: 10%;">파일유무</th>
                    <th style="width: 15%;">등록시간</th>
                    <th style="width: 15%;">수정시간</th>
                    <th style="width: 6%;">보기</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item:${content}">
                    <tr>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.itemTitle}"></td>
                        <td th:text="${item.itemDetail}"></td>
                        <td th:text="${item.itemPrice}"></td>
                        <td th:if="${item.attachFile == 1}">O</td>
                        <td th:unless="${item.attachFile == 1}">X</td>
                        <td th:text="${#temporals.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(item.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a th:href="@{/admin/itemDetail/{id}(id=${item.id})}">
                                보기
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="11">
                        <div class="paging">
                            <ul>
                                <li>
                                    <span th:if="${content.pageable.pageNumber+1 eq 1}" class="span0">START</span>
                                    <span th:unless="${content.pageable.pageNumber+1 eq 1}">
                                        <a th:href="@{/admin/{key}(key=${key},page=0, subject=${param.subject}, search=${param.search})}"
                                           class="span1">처음</a>
                                    </span>
                                </li>
                                <li>
                                    <span th:if="${1 == content.pageable.pageNumber+1}" class="span0">PRE</span>
                                    <span th:unless="${1 == content.pageable.pageNumber+1}">
                                        <a th:href="@{/admin/{key}(key=${key},page=${content.pageable.pageNumber - 1}, subject=${param.subject}, search=${param.search})}"
                                           class="span1">이전</a>
                                    </span>
                                </li>
                                <!-- 페이지 번호 -->
                                <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i == content.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>
                                    <a th:unless="${i == content.pageable.pageNumber+1}"
                                       th:href="@{/admin/{key}(key=${key},page=${i - 1}, subject=${param.subject}, search=${param.search})}"
                                       th:text="${i}"></a>
                                </li>

                                <li>
                                    <span th:if="${content.totalPages == content.pageable.pageNumber + 1}"
                                          class="span0">NEXT</span>
                                    <span th:unless="${content.totalPages == content.pageable.pageNumber + 1}">
                                        <a th:href="@{/admin/{key}(key=${key},page=${content.pageable.pageNumber + 1}, subject=${param.subject}, search=${param.search})}"
                                           class="span1">다음</a>
                                    </span>
                                </li>
                                <li>
                                    <span th:if="${content.totalPages == content.pageable.pageNumber + 1}" class="span0">END</span>
                                    <span th:unless="${content.totalPages == content.pageable.pageNumber + 1}">
                                        <a th:href="@{/admin/{key}(key=${key},page=${content.totalPages - 1}, subject=${param.subject}, search=${param.search})}" class="span1">마지막</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</th:block>
</html>